<ul>
    <li>
        <figure><img src="http://template.themeton.com/creatify/images/accordion_1.png">

            <figcaption>
                PRICING
            </figcaption>
        </figure>
    </li>
    <li>
        <figure><img src="http://template.themeton.com/creatify/images/accordion_2.png">
            <figcaption>
                $150 for a 15 sec Video Ad!
            </figcaption>
        </figure>
    </li>
    <li>
        <figure><img src="http://template.themeton.com/creatify/images/accordion_3.png">
            <figcaption>
                Ads Run Continously For One Month!
            </figcaption>
        </figure>
    </li>
    <li>
        <figure><img src="http://template.themeton.com/creatify/images/accordion_4.png">
            <figcaption>
                GREAT VALUE FOR WHAT YOU PAY!
            </figcaption>
        </figure>
    </li>
</ul>