<legend allign="center">Our Happy Client's</legend>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active container">
            <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="/assets/img/dell.png" alt="Dell">
            <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="/assets/img/paramount.png" alt="paramount">
            <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="/assets/img/mcdo.png" alt="Mcdonalds">
            <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="/assets/img/vw.png" alt="Vw">
            <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="/assets/img/adidas.png" alt="Adidas">
            <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="/assets/img/disney.png" alt="Disney">
        </div>