<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="box">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="material-icons" style="font-size:60px;">dashboard</i>

                    <div class="title">
                        <h4>Login to dashboard</h4>
                    </div>

                    <div class="text">
                        <span>Login into your dashboard to create HD quality videos for mobile or web and digital signage by using your products.</span>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="material-icons" style="font-size:60px;">shop_two</i>

                    <div class="title">
                        <h4>Create your video</h4>
                    </div>

                    <div class="text">
                        <span>UpnGoAds allow you to create Ads of your choice for your products without any professional experience using images.</span>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="material-icons" style="font-size:60px;">update</i>

                    <div class="title">
                        <h4>Upload ready made video</h4>
                    </div>

                    <div class="text">
                        <span>You can also upload your existing or already created video Ad to UPnGOAds to be displayed on our server.</span>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="material-icons" style="font-size:60px;">important_devices</i>

                    <div class="title">
                        <h4>Add effects, voice and text</h4>
                    </div>

                    <div class="text">
                        <span>Our APP provides you with the possibility of adding text and video effect to your Ad. As well as voice over or songs.</span>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="material-icons 4x" style="font-size:60px;">touch_app</i>

                    <div class="title">
                        <h4>Preview your video</h4>
                    </div>

                    <div class="text">
                        <span>You can preview your Ad and see how it looks and make final touches before publishing or downloading it.</span>
                    </div>



                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="box-part text-center">

                    <i class="material-icons" style="font-size:60px;">picture_in_picture</i>

                    <div class="title">
                        <h4>Publish you video</h4>
                    </div>

                    <div class="text">
                        <span>Videos created with UPnGOAds are HD quality and instantly ready to be published on our server and every other video sites.</span>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>