<div class="container-fluid" style="padding-right: 0px;
    padding-left: 0px;
    "></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">UPnGOAds</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pricing">Services</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
        Products
    </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/pricing">Features</a>
                    <a class="dropdown-item" href="/pricing">pricing</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/footer">Contact</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Register</a>
            </li>
        </ul>
    </div>
</nav>