<div class="container">
    <br>
    <p class="text-center">Create, Publish and Promote your Ads on <a href="../home/home.component.html"> UPnGOAds</a>
    </p>
    <hr>
    <div class="row">
        <aside class="text-center col-sm-4 ">
            <p>Mobile friendly Ads</p>

            <div class="card-banner  overlay-grad" style="height:250px; background-image: url('http://bootstrap-ecommerce.com/main/images/posts/1.jpg');">
                <div class="card-body text-white">
                    <h5 class="card-title">Ads on mobile devices</h5>
                    <p class="card-text">Create and promote your Ads on every mobile device.</p>
                </div>
            </div>
            <!-- card.// -->

        </aside>
        <aside class="text-center col-sm-4">
            <p>Digital signage Ads </p>
            <div class="card-banner" style="height:250px; background-image: url('http://bootstrap-ecommerce.com/main/images/posts/2.jpg');">
                <article class="overlay overlay-cover d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h5 class="card-title">Digital sinage with unlimited devices</h5>
                        <a href="#" class="btn btn-warning btn-sm"> Get started </a>
                    </div>
                </article>
            </div>
            <!-- card.// -->

        </aside>
        <aside class="text-center col-sm-4">
            <p>3D and matrix Ads </p>
            <div class="card-banner align-items-end" style="height:250px; background-image: url('http://bootstrap-ecommerce.com/main/images/posts/5.jpg');">
                <article class="overlay m-4 w-100">
                    <h5 class="card-title">responsive Ads</h5>
                    <a href="#" class="btn btn-warning btn-sm"> Get started </a>
                </article>
            </div>
            <!-- card.// -->

        </aside>
    </div>
</div>


<br><br>
<article class="bg-secondary mb-3">
    <div class="card-body text-center">
        <h4 class="text-white">Create your Ads without any professional experience! <br> With ready made tools to create your Ads. </h4>
        <p class="h5 text-white"> You will create Ads that stand out, to help your brand break into the market place it deserves, levearage on every available platform to promote your product</p> <br>
        <p><a class="btn btn-warning" target="_blank" href="../home/home.component.html"> UPnGOAds
<i class="fa fa-window-restore "></i></a></p>
    </div>
    <br><br>
</article>