<footer>
    <div style="min-height: 250px;" class="footer" id="footer-sub">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5> HELP </h5>
                    <ul>
                        <li><a href="">UPnGOAds Terms</a>
                            <hr>
                        </li>
                        <li><a href="">Privacy Policy</a>
                            <hr>
                        </li>
                        <li><a href="">Ads guideline</a>
                            <hr>
                        </li>
                        <li><a href="">Cancellation & Returns</a>
                            <hr>
                        </li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h5> COMPANY NAME </h5>
                    <ul>
                        <li><a href="">Contact Us</a>
                            <hr>
                        </li>
                        <li><a href="">About Us</a>
                            <hr>
                        </li>
                        <li><a href="">Careers</a>
                            <hr>
                        </li>
                        <li><a href="">Press</a>
                            <hr>
                        </li>
                        <li><a href="">Advertise with us</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h5> MISC </h5>
                    <ul>
                        <li><a href="">Tutorials</a>
                            <hr>
                        </li>
                        <li><a href="">Affliate Program</a>
                            <hr>
                        </li>
                        <li><a href="">Support</a>
                            <hr>
                        </li>
                        <li><a href="">Subscription</a>
                            <hr>
                        </li>
                        <li><a href="">Sitemap</a></li>
                    </ul>
                </div>

            </div>


            <hr style="margin-bottom:0px; margin-top:30px; padding:0px;">
            <div class="row" id="sub-two">

                <div class="col-md-4">
                    <div class="vertical-line text-center">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <h4>FACEBOOK INTIGRATION</h4>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="vertical-line text-center">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <h4>YOUTUBE INTEGRATION</h4>
                    </div>
                </div>

                <div class="col-md-4">
                    <div style="margin:8px;" class="text-center">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        <h4 style="color:#6d6c6c;">MONITOR YOUR Ads</h4>
                    </div>
                </div>


            </div>
            <hr style="margin-bottom:30px; margin-top:0px; padding:0px;">



        </div>
    </div>
    <div style="min-height: 50px;" id="footer-main">

        <ul>
            <li><a href=""><b>About Us</b></a></li>
            <li><a href=""><b>Partner with us</b></a></li>
            <li><a href=""><b>Terms & Conditions</b></a></li>
            <li><a href=""><b>Customer Service</b></a></li>
            <li><a href=""><b>Copyright © UPnGOAds</b></a></li>
        </ul>

        <div id="social-menu">
            <ul>
                <li>
                    <a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a>
                </li>
                <li>
                    <a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a>
                </li>
                <li>
                    <a href=""><img style="max-width:18px; margin-top: -7px;" src=""></a>
                </li>
            </ul>
        </div>

    </div>
</footer>